/*    -------------------------------------------------------------
    BeCode - Pedromrv
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    Description:    ToDoList
    Filename:        style.css
    Date:            13 Nov, 2017
    -------------------------------------------------------------    */

/*body{
  padding:5px;
  border:dashed 3px #0026ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  }*/

body {
  color: #7d7e81;
  width: 750px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

img {
  float: right;
  height: 15%;
  width: 15%;
}

hr {
  width: 80%;
}

.main {
  display: flex;
}

.left {
  float: left;
}

.right {
  float: right;
}

.main-header {
  position: absolute;
  height: 100px;
}

.main-container {
  display: none;
  position: absolute;
  top: 100px;
  bottom: 100px;
  width: 750px;
  overflow-y: auto;
}

.item-title {
  display: inline-block;
}

.menu-item {
  display: inline;
}

.next.container {
  position: absolute;
  top: 100px;
  bottom: 100px;
  width: 750px;
  overflow-y: auto;
}

.main-footer {
  position: absolute;
  height: 100px;
  width: 750px;
  bottom: 0;
  text-align: center;
}
